*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, #2c3e50, #3498db, #f1c40f, #e74c3c);
    background-size: 400% 400%;
    animation: moveGradient 60s ease infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 100% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    75% {
        background-position: 25% 25%;
    }

    87.5% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.bottom {
    border-radius: 0 0 20px 0;
}

.bottom-left-radius {
    border-radius: 0 0 0 20px;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 20px 20px 0 0;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}